
    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="text-center">
                Made with <3 in Seattle, WA. Code available on <a href="https://github.com/noahmacca/my-feed">Github</a>. Questions, comments or feedback? Please don't hesitate to contact us at <a href="mailto:info@myfeed.cool">info@myfeed.cool</a>.
            </p>
            <p class="text-right">&copy;MyFeed 2017</p>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/grayscale.js"></script>

</body>

</html>