<% include ./partials/header %>

<div class="container">
    <div class="row col-md-12">
        <h1>MyFeed</h1>
    </div>
    <div class="row col-md-12">
        <h3>A place for you to discover and discuss articles with friends.</h3>
        <p>This is the splash page.</p>
        <p>Yeah this is cool</p>
    </div>
</div>
    
<% include ./partials/footer %>