<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 300px; margin: 25px auto;">
            <form action="/login" method="POST">
                <input id="focus" class="form-group form-control" type="text" name="username" placeholder="username">
                <input class="form-group form-control" type="password" name="password", placeholder="password">
                <button class="btn btn-lg btn-primary btn-block">Continue</button>
            </form>
            <div class="text-center">
                <div>
                    <h4>OR</h4>
                </div>
                <div>
                    <a href="/auth/facebook">
                        <button class="loginBtn loginBtn--facebook">Continue with Facebook</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#focus").focus();
</script>

<% include ./partials/footer %>