<div class="container">
    <div class="row">
        <h1>Your Profile</h1>
        <ul>
            <li>Name</li>
            <li>Articles Posted: 5</li>
            <li>Your Friends:</li>
        </ul>

        <h3>Notes:</h3>
        <ul>
            <li>Must show public or private profile as appropriate</li>
        </ul>
    </div>
</div>