<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Post a New Article</h1>
        <p style="text-align: center;"><em>Coming soon: automatic URL parsing</em></p>
        <p id="url-content"></p>
        <div style="margin: 25px auto; width: 50%;">
            <form action="/articles" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="url" placeholder="Url">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" type="textarea" name="desc" placeholder="Your Comments"></textarea>
                </div>
            <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>