
body {
  background-color: #f6f6f6;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

footer {
    margin-top: 5%;
}

.pre-wrap {
    white-space: pre-wrap;
}

.top-div {
    margin-top: 20px;
}

.display { 
    display: inline-block;
}

.flash {
    margin-top: 20px;
    margin-bottom: 0;
}

.btn-primary {
    color: #fff;
    background-color: #2980b9;
    border-color: #2e6da4;
}

.btn-sm-wide {
  width: 115px;
}

.notif-badge {
  background-color: #e74c3c;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


.empty-feed {
  margin: 5% auto; 
  padding: 1.0em;
}

.getting-started-list {
  line-height: 1.3;
  margin-top: 20px;  
}

.help-box {
    background-color: transparent;
    bottom: 0;
    left: 10px;
    position: fixed;
    width: auto;
    z-index: 100;
}

.help-panel {
  background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 12px;
    vertical-align: bottom;
}

.help-inside {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 12px;
    display: block;
}

/*.help-panel { 
    background-color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 12px;
    vertical-align: bottom;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}*/

.btn {
  text-transform: capitalize;
}

.btn:focus {
  outline: none;
}

.btn-follow {
  width: 150px;
  margin-top: 10px;
}

.btn-suggest {
  margin-top: 10px;
}

#seattle {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/space-needel.jpeg) no-repeat bottom center scroll;
  opacity: 1.0;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2980b9;
}

.navbar-custom-in-app .navbar-toggle {
  color: white;
  font-size: 12px;
}

.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    color: #2980b9;
}

.navbar-custom-in-app {
  border-width: 0 0 1px;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2c3e50;
}
.navbar-custom-in-app-page .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom-in-app .navbar-toggle:focus,
.navbar-custom-in-app .navbar-toggle:active {
  outline: none;
}
.navbar-custom-in-app .navbar-brand {
  font-weight: 700;
}
.navbar-custom-in-app .navbar-brand:focus {
  outline: none;
}
.navbar-custom-in-app a {
  color: white;
}
.navbar-custom-in-app .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom-in-app .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom-in-app .nav .dropdown .dropdown-menu a {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.navbar-custom-in-app .nav .dropdown .dropdown-menu a:hover {
  color: black;
  outline: none;
  background-color: whitesmoke;
}

.navbar-custom-in-app .nav li a:focus,
.navbar-custom-in-app .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom-in-app .nav li.active {
  outline: none;
}
.navbar-custom-in-app .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom-in-app .nav li.active a:hover {
  color: white;
}

.dropdown-menu li form a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu li form a {
  text-decoration: none;
}

/*@media (min-width: 768px) {
  .navbar-custom-in-app {
    padding: 0 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom-in-app.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}*/