
body {
  background-color: #f6f6f6;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

footer {
    margin-top: 5%;
}

.top-div {
    margin-top: 20px;
}

.display { 
    display: inline-block;
}

.flash {
    margin-top: 20px;
    margin-bottom: 0;
}

.btn-primary {
    color: #fff;
    background-color: #2980b9;
    border-color: #2e6da4;
}

.btn-sm-wide {
  width: 115px;
}

.empty-feed {
  margin: 5% auto; 
  padding: 1.0em;
}

.getting-started-list {
  line-height: 1.3;
  margin-top: 20px;  
}

.btn {
  text-transform: capitalize;
}


#seattle {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/space-needel.jpeg) no-repeat bottom center scroll;
  opacity: 1.0;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2980b9;
}

.navbar-custom-in-app .navbar-toggle {
  color: white;
  font-size: 12px;
}

.navbar-custom-in-app {
  border-width: 0 0 1px;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2c3e50;
}
.navbar-custom-in-app-page .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom-in-app .navbar-toggle:focus,
.navbar-custom-in-app .navbar-toggle:active {
  outline: none;
}
.navbar-custom-in-app .navbar-brand {
  font-weight: 700;
}
.navbar-custom-in-app .navbar-brand:focus {
  outline: none;
}
.navbar-custom-in-app a {
  color: white;
}
.navbar-custom-in-app .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom-in-app .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom-in-app .nav li a:focus,
.navbar-custom-in-app .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom-in-app .nav li.active {
  outline: none;
}
.navbar-custom-in-app .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom-in-app .nav li.active a:hover {
  color: white;
}
/*@media (min-width: 768px) {
  .navbar-custom-in-app {
    padding: 0 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom-in-app.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}*/